/**
 * File Name: responsive.css
 */
/**
 *	-------------------------------------------------------------------------------
 *	( 01 ) - Responsive Specifications
 *	-------------------------------------------------------------------------------
 *
 *  This part contains the responsive modifications for small devices widths
 *
 *	------
 *
 *  It has the following code:
 *
 *	   |
 *	   |-->  [ 1 ] - Width From 1200px to 0
 *	   |-->  [ 2 ] - Width From 992px to 0
 *	   |-->  [ 3 ] - Width From 768px to 0
 *	   |-->  [ 4 ] - Width From 480px to 0
 *	   |-->  [ 5 ] - Width From 320px to 0
 *	   |-->  [ 6 ] - Height Form 768px to 0
 *	   |-->  [ 5 ] - Height Form Maximmum to 768px
 *	   |-->  [ 8 ] - Height Form Maximmum to 900px
 *
 */
/**
 *  [ 1 ] - Width From 1200px to 0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 1200px) {
  .intro-images li {
    width: 33.3333%; }

  .categories-samples {
    margin-bottom: -30px; }
    .categories-samples .box {
      margin-bottom: 30px; }

  .deadline-timer li:last-child {
    margin-top: 20px; }

  .offer-thumbs li img {
    width: 70px; } }
/**
 *  [ 2 ] - Width From 992px to 0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 992px) {
  /* Logo Bar */
  #logo-bar {
    height: auto;
    padding: 40px 0; }
    #logo-bar .logo {
      text-align: center;
      display: block;
      margin-bottom: 30px;
      top: 0; }
    #logo-bar .search-product {
      top: initial; }
    #logo-bar .cart-counter {
      border: none;
      margin-top: 45px; }
      #logo-bar .cart-counter span:first-child {
        margin-top: 0; }
    #logo-bar #cart-dropdown {
      right: auto !important;
      left: 50% !important;
      margin: 60px 0 0 -150px !important; }
      #logo-bar #cart-dropdown.show {
        margin: 40px 0 0 -150px !important; }

  /* Nav Bar */
  #nav-bar {
    padding: 15px 0; }

  #nav-bar,
  #nav-bar-wrap {
    height: auto; }

  .sticky #nav-bar-wrap {
    position: initial;
    box-shadow: none; }

  .home-link {
    height: 35px !important;
    line-height: 35px !important;
    width: 40px !important;
    border-radius: 2px;
    font-size: 20px;
    float: none;
    margin-top: 15px; }
    .home-link:hover {
      background: #222; }
    .home-link::before, .home-link::after {
      display: none; }

  .main-menu {
    left: 0;
    display: none; }

  .hot-deals-btn {
    position: absolute;
    top: 15px;
    right: 15px; }

  #mobile-menu {
    display: block; }
    #mobile-menu .mobile-menu {
      margin: 15px 0 5px; }
      #mobile-menu .mobile-menu .nav-new,
      #mobile-menu .mobile-menu .nav-hot {
        position: relative;
        top: -2px;
        right: 0;
        margin-left: 10px; }

  .mobile-menu-btn {
    display: inline-block; }

  .nav-social-icons {
    border: none;
    text-align: center;
    clear: both;
    margin-top: 22px;
    padding: 15px 0 1px;
    border-top: 1px solid #eee; }
    .nav-social-icons li {
      width: auto;
      top: 0; }
      .nav-social-icons li a {
        padding: 0 5px; }

  /* Slider */
  .banner-slider ul li {
    background-size: initial; }

  .banner-center-box {
    padding-left: 30px;
    padding-right: 30px; }

  /* Intro 2 */
  .featured-box.box-1 {
    margin-bottom: 30px; }

  /* New Offers */
  .deadline-timer li:last-child {
    margin-top: 0; }

  .offers-slider {
    margin-top: 80px; }
    .offers-slider .slide-wrap {
      padding: 30px; }
      .offers-slider .slide-wrap .offer-details {
        padding-top: 60px; }

  /* Recent News */
  .entry {
    margin-bottom: 30px !important; }

  /* Our Products */
  .op-tabs {
    position: initial;
    margin-bottom: 50px; }

  /* Single Pages */
  #cart-items tr td:nth-child(5) {
    padding: 0 8px; }

  /* Footer */
  .footer-widget {
    margin-bottom: 50px; }

  .footer-subscribe + img {
    display: block; }

  /* Footer Mini */
  .copyrights-message,
  .made-by {
    text-align: center; }

  .made-by {
    margin-top: 5px; } }
/**
 *  [ 3 ] - Width From 768px to 0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 768px) {
  /* Top Bar */
  #top-bar {
    height: auto;
    padding: 5px 0; }

  .call-us {
    text-align: center; }

  .top-bar-adds {
    text-align: center;
    margin-top: 5px; }

  /* Search Product */
  .search-product {
    top: initial;
    width: 405px; }
    .search-product form input[type="text"] {
      width: 145px; }
    .search-product form select {
      padding-right: 30px;
      width: 105px; }

  /* Page Title */
  #page-title {
    padding: 90px 0; }
    #page-title h3,
    #page-title h5,
    #page-title .breadcrumb {
      text-align: center; }
    #page-title .breadcrumb {
      position: initial;
      margin-top: 25px; }

  /* Intro 1 */
  .intro-1 .col-sm-3 {
    margin-bottom: 30px; }
    .intro-1 .col-sm-3:last-child {
      margin-bottom: 0; }

  /* Recent News */
  .entry .entry-title,
  .entry .entry-meta,
  .entry .entry-content {
    padding-left: 0; }
  .entry.entry-small {
    padding-left: 40px; }
    .entry.entry-small .entry-image {
      position: initial;
      width: calc(100% + 82px);
      max-height: 200px;
      margin: -1px -40px 25px; }
      .entry.entry-small .entry-image a,
      .entry.entry-small .entry-image img {
        width: 100%;
        height: 100%; }

  .entry-image img {
    width: 100%; }

  /* Our Products */
  .op-tabs {
    margin-bottom: 20px; }
    .op-tabs li {
      margin-bottom: 30px; }

  /* Single Pages */
  #cart-items tr td:nth-child(5) {
    padding: 10px 18px; }

  #cart-items tr th:nth-child(6),
  #cart-items tr td:nth-child(6),
  #cart-items tr th:nth-child(4),
  #cart-items tr td:nth-child(4) {
    display: none; } }
@media (min-width: 481px) and (max-width: 600px) {
  .add-item-counter * {
    float: none;
    display: block;
    margin: 0 auto 3px; }
    .add-item-counter *:last-child {
      margin-bottom: 0; }
  .add-item-counter a {
    border: 1px solid #eee !important; } }
/**
 *  [ 4 ] - Width From 480px to 0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 480px) {
  /* Search Product */
  .search-product {
    top: initial;
    width: 305px; }
    .search-product form input[type="text"] {
      width: 105px; }
    .search-product form select {
      padding-right: 30px;
      width: 50px; }

  .intro-images li {
    width: 50%; }

  /* Great Offers */
  .single-product .features-list li {
    width: 50%; }

  .deadline-timer {
    margin-bottom: -15px; }
    .deadline-timer li {
      margin-bottom: 15px; }

  /* Single Pages */
  #cart-items tr th:nth-child(5),
  #cart-items tr td:nth-child(5) {
    display: none; } }
/**
 *  [ 5 ] - Width From 320px to 0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 320px) {
  .offer-thumbs li img {
    width: 58px; } }
/**
 *  [ 6 ] - Height From 768px to 0
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/**
 *  [ 5 ] - Height From Maximmum to 768px
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/**
 *  [ 8 ] - Height From Maximmum to 900px
 *	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/*# sourceMappingURL=responsive.css.map */
