/* reset
-------------------------------------------------------------- */

body {
    padding: 0;
    margin: 0;
    font: 400 15px droid;
    background: #f6f6f6;
}
div#all-price {
    margin: -20px 0 0;
}
a,
a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.col-full-height {
    margin-bottom: 8px
}

.nomargin {
    margin: 0 !important;
    padding: 0 !important
}
#latest article .inner a.pull-right span{margin-bottom: 0 !important}
@font-face {
    font-family: 'droid';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/droid/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/droid/DroidKufi-Regular.woff2) format('woff2'), url(../fonts/droid/DroidKufi-Regular.woff) format('woff'), url(../fonts/droid/DroidKufi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'droid';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/droid/DroidKufi-Bold.eot);
    src: url(../fonts/droid/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/droid/DroidKufi-Bold.woff2) format('woff2'), url(../fonts/droid/DroidKufi-Bold.woff) format('woff'), url(../fonts/droid/DroidKufi-Bold.ttf) format('truetype');
}

#top-section {
    padding: 30px 0;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
/* header
-------------------------------------------------------------- */

header {
    background: #fff;
    ;
    position: relative;
    z-index: 999999;
    padding: 43px 0
}

#logo {
    display: table;
    float: right;
}

header .social {
    float: left;
    display: table
}

header li {
    float: left;
    margin-left: 10px
}

header li a {
    display: block;
    width: 31px;
    transition: all 1s ease;
    height: 31px;
    border-radius: 31px;
    color: #fff;
    text-align: center;
    line-height: 31px
}

header a:hover {
    color: #fff
}

header li a.face {
    background: #2d519c
}

header li a.plus {
    background: #e1584b
}

header li a.twit {
    background: #1ebef0
}

header li a.inst {
    background: #9e6f4f
}

header .support {
    float: right;
    background: #767676;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    max-width: 175px;
    padding: 8px 0
}

header .support i {
    padding-left: 5px
}

header .cart {
    float: left;  cursor: pointer;
    background: #fab515;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    max-width: 175px;
    padding: 8px 0
}

header .cart .fa-angle-down {
    position: relative;
    top: 3px;
    padding-right: 5px
}

header .paddme {
    padding-top: 30px
}
/* nav 
-------------------------------------------------------------- */

nav {
    background: #8dd831;
    position: relative;
    z-index: 9999;
    margin-bottom: 30px
}

.sections {
    background: #585858;
    color: #fff;
    padding-left: 0 !important;
    line-height: 3.3;
    font-weight: 700
}

.sections .fa-bars {
    padding-left: 7px
}

.sections .fa-angle-down {
    float: left;
display:none;
    background: #444;
    padding: 17px
}

.menu {
    padding-right: 0 !important
}

.menu li {
    float: right;
    font-size: 14px;
    padding: 0 35px;
    line-height: 3.5;
    transition: all .3s ease;
}

.menu li:nth-child(odd):hover {
    background: #fff;
    transform: rotateY(360deg)
}

.menu li:nth-child(even):hover {
    background: #fff;
    transform: rotateX(360deg)
}

.menu li:hover >a {
    color: #444
}

.menu li a {
    color: #fff
}

.searchbutton {
    line-height: 3 !important;
    color: #fff;
    cursor: pointer
}

.wrap-search {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    padding-top: 330px;
    text-align: center;
}

.wrap-search input {
    font-size: 50px;
    line-height: 75px;
    color: #444;
    border: none;
    width: 80%;
    float: right;
    background-color: transparent;
}
/* category
-------------------------------------------------------------- */

.category {
    background: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    top: -30px;
}
.category li ul{  position: absolute;display:none;
                  right: 100%;
                  z-index: 99999999999;
                  background-color: #fff;
                  min-width: 238px;
                  max-width: 400px;
                  top: 0;}
.category li {
    padding: 11px 0;
    text-indent: 20px;position: relative;
    border-bottom: 1px solid #eee;
    border-right: 3px solid #fff;
    transition: all 1s ease;
}
.category li:hover >ul{display:block}
.category li:before {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    color: #8b8b8b;
    padding-left: 5px
}
.selectme{
    width: 20%;
    height: 73px;
    border: 0;
    background-color: transparent;
    color: #a9a9a9;
    font-size: 30px;
}
butt
.category li a {
    color: #8b8b8b
}

.category li:hover {
    border-right: 3px solid #fab515;
}
/* slider
-------------------------------------------------------------- */

.slider {
    padding-left: 0 !important
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel .item {
    height: 325px;
    width: 100%;
}

.carousel .item img {
    height: 325px;
    width: 100%
}

#share {
    margin-bottom: 15px;
    color: #ffb300
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    height: 40px;
    line-height: 40px;
    width: 40px;
    opacity: 1;
    text-align: center;
}

.carousel-control .glyphicon-chevron-left {
    left: 15px !important;
    margin-left: 0 !important
}

.carousel-control .glyphicon-chevron-right {
    right: 15px !important;
    margin-right: 0 !important
}

.carousel-control {
    opacity: 1 !important
}

.carousel-control {
    text-shadow: none
}

.ads img {
    margin-bottom: 15px
}

.tooltip {
    font: 400 17px droid
}

#first-section {
    margin-bottom: 30px;
}

#carousel-example-generic {
    padding: 0 15px;
}
/* stores 
-------------------------------------------------------------- */
.unlike {display: none}
.unlike i{color:red !important;}
.red{color:red !important;}
#product-page {
    padding-bottom: 45px
}

#product-page #product-img {
    height: 500px;
    border: 4px solid #fff;
    width: 100%
}

#product-page .loader {
    height: 500px;
    width: 100%
}

.product-name {
    color: #585858;
    font-size: 21px;
    position: relative;
    display: table;
    margin-bottom: 45px;
}

.product-name:after {
    width: 25%;
    height: 4px;
    background: #8dd831;
    content: "";
    position: absolute;
    bottom: -6px;
    transition: all .4s ease;
    right: 0;
}

#imgs {
    padding: 20px 0
}

.thump-img {
    width: 100%
}

.mythumb {
    float: right;
    height: 115px;
    margin:0 7px;
    cursor: pointer
}

#product-detials {
    color: #7b7b7b;
    font-size: 12px;
    line-height: 2.5
}

#product-info #price {
    background: #8dd831 !important;
    color: #fff !important
}

.mythumb:nth-child(1) {
    padding-right: 0 !important;
}

.mythumb:nth-child(3) {
    padding-left: 0 !important;
}

#owl-demo3 article {
    background: #fff;
    padding: 25px 0;
    border: 1px solid #e7e7e7
}

#owl-demo3 .owl-buttons {
    position: absolute;
    top: -50px;
    left: 20px;
}

#owl-demo3 .owl-buttons .owl-next {
    left: 50px
}

#owl-demo3 .owl-buttons .owl-prev {
    left: 0
}

#owl-demo3 article img {
    margin: 0 auto 10px;
    width: 160px;
    height: 130px;
    display: table;
}

#owl-demo3 article .title {
    color: #7cc720;
    font-size: 14px;
    display: table;
    margin: 0 auto;
    clear: both;
}

#owl-demo3 article span {
    color: #f6303e;
    font-size: 14px;
    display: table;
    margin: 0 auto;
    clear: both;
}

#owl-demo3 .item {
    margin: 12px 0 12px 30px;
}

#product-info a {
    background: #fff;
    padding: 5px 10px;
    clear: both;
    display: table;
    margin-bottom: 15px;
    color: #5e5e5e;
    font-size: 16px;
    width: 190px;
    text-align: center;
    border-radius: 5px;
}

#product-info a:nth-child(1) > i {
    color: #ffb300
}

#product-info a:nth-child(2) > i {
    color: #8dd831
}

#product-info a:nth-child(3) > i {
    color: #868686
}

#single-page p {
    font-size: 13px;
    color: #7c7c7c;
    line-height: 2.8;
    text-align: justify
}

#single-page img {
    max-height: 500px;
    width: 100%
}

#stores {
    padding-bottom: 80px
}
.make-ads h2,
#stores h2,
#latest h2,
#ads h2,
#single-page h2 ,#cart-page h2{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    display: table;
    border-bottom: 1px solid #e3e3e3;
    font: 700 26px droid;
    padding-bottom: 15px;
    color: #585858
}
.make-ads h2:after,
#stores h2:after,
#latest h2:after,
#ads h2:after,
#single-page h2:after ,#cart-page h2:after{
    width: 25%;
    height: 4px;
    background: #8dd831;
    content: "";
    position: absolute;
    bottom: -2px;
    transition: all .4s ease;
    margin-right: -12%;
    right: 50%;
}
.make-ads h2:hover:after,
#stores h2:hover:after,
#latest h2:hover:after,
#single-page h2:hover:after,
#cart-page h2:hover:after,
#ads h2:hover:after {
    width: 50%;
    margin-right: -25%;
}

#owl-demo,
#owl-demo2,
#owl-demo4,
#owl-demo3 {
    position: relative;
    direction: ltr !important
}

#stores .item {
    background: #fff;
    margin: 15px;
    border-bottom: 3px solid #e7e6e6
}

#stores .item .bigimage {
    position: relative;
    padding: 17px 15px;
    overflow: hidden
}

#stores .item .bigimage .loader {
    position: absolute
}

#stores .item .bigimage img {
    width: 100%;
    height: 145px;
}

#stores .item .smallimg img {
    height: 50px;
    width: 100%;
    border: 1px solid #f5f5f5;
    cursor: pointer
}

#stores .item a {
    font: 700 14px droid;
    color: #7cc720;
    margin: 0 auto;
    display: table;
    padding: 25px 0 15px
}

.owl-prev,
.owl-next {
    background: #7a7a7a !important;
    position: absolute;
    color: #fff !important;
    border-radius: 50% !important;
    font-size: 20px !important;
    width: 34px;
    height: 34px;
    line-height: 28px;
    text-align: center;
    opacity: 1 !important;
    top: 40%;
}

#owl-demo .owl-prev {
    left: -35px;
}

#owl-demo .owl-next {
    right: -35px;
}

.activeitem {
    border: 1px solid #7cc720 !important
}

.owl-prev:before {
    content: '\f104';
    font-family: 'FontAwesome';
}

.owl-next:before {
    content: '\f105';
    font-family: 'FontAwesome';
}

.loader {
    background: #fff;
    width: 100%;
    right: 0;
    position: absolute;
    height: 187px;
    top: 0;
    display: none;
}

.loader .fa-spinner {
    margin-right: -0.6em;
    color: #7cc720;
    position: absolute;
    margin-top: -0.6em;
    right: 50%;
    top: 50%;
}
/* latest 
-------------------------------------------------------------- */

#latest {
    background: #fff;
    padding: 70px 0;
    overflow: hidden
}

#latest ul {
    display: table;
    margin: 0 auto 65px;
}

#latest ul li {
    float: right;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    min-width: 100px;
    text-align: center;
    cursor: pointer
}

#latest ul li.active {
    background: #525252;
    color: #fff
}

#latest article {
    float: right;
    margin-bottom: 30px;
}

#latest article .inner {
    padding-top: 22px;
    border: 2px solid #f8f8f8
}

#latest article .inner img {
    display: table;
    margin: 0 auto 25px;
    max-height: 125px
}

#latest article .inner a.title {
    color: #7cc720;
    font: 700 14px droid;
    margin: 0 auto 4px;
    display: table
}

#latest article .inner span {

    font-size: 14px;
    display: table;
    margin: 0 auto 20px
}

#latest article .inner .info a {
    background: #f8f8f8;
    padding: 10px;
    text-align: center;
    color: #525252;
    float: right;
    transition: all .7s ease;
}

#latest article .inner .info {
    border-top: 1px solid #f8f8f8
}

#latest article .inner .info a:nth-child(odd) {
    background: #fff
}

#latest article .inner .info a:hover {
    background: #8dd831;
    color: #fff
}

#latest .more {
    border: 1px solid #8dd831;
    border-radius: 5px;
    text-align: center;
    padding: 8px 30px;
    color: #8dd831;
    display: table;
    margin: 20px auto 0;
    font: 700 14px droid
}
/* ads
-------------------------------------------------------------- */

#ads {
    padding: 65px 0;
    background: #f6f6f6
}

#owl-demo2 .owl-prev {
    left: -35px;
}

#owl-demo2 .owl-next {
    right: -35px;
}

#owl-demo2 img.lazyOwl {
    width: 94%;
    display: table;
    margin: 0 auto;
}
/* info
-------------------------------------------------------------- */

#info {
    background: #fff;
    padding: 65px 0
}

#info .banners {
    float: right;
    margin-bottom: 30px;
    cursor: pointer
}

#info .banners:hover {
    opacity: 0.75
}

#info .banners .inner {
    padding: 25px 50px;
    color: #fff
}

#info .banners:nth-child(1) >.inner {
    background: #8dd831;
}

#info .banners:nth-child(2) >.inner {
    background: #fab515;
}

#info .banners:nth-child(3) >.inner {
    background: #43cea2;
}

#info .banners .inner img {
    float: right
}

#info .banners .inner p {
    font: 700 18px droid;
    margin: 0 auto;
    display: table;
}

#info .banners .inner span {
    font: 400 13px droid;
    margin: 0 auto;
    display: table;
    text-align: center;
}
/* cart-toogle
-------------------------------------------------------------- */

#cart-toogle {
    position: absolute;
    z-index: 9999999999999999999;
    color: #626262;
    display: none;
    border: 8px solid #fab515;
    background: #fff;
    min-width: 350px;
    padding:15px; 
}
.cart-product{margin-bottom: 30px;width:100%;border-bottom:1px solid #ececec;padding-bottom: 30px}
.cart-product img{max-width:85px;width:100%;height: 55px;float: right}
.cart-product .product-title{color:#626262;font-weight: bold;font-size:14px;float: right; }
.cart-product span{color:#818181;display: table; clear: both;font-size: 12px}
.cart-product  i.fa.fa-close {
    float: left;
    color: #fff;
    background-color: #626262;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
    top:15px;
    line-height: 25px;
    padding: 0 !important
}
#cart-view{color:#8dd831;font-size:13px ;padding:0 8px }
#cart-buy{color:#fab515;font-size:13px ;padding:0 8px}
#cart-toogle  i{padding:0 9px }



/* about-us
-------------------------------------------------------------- */

section#aboutme {
    background: url(../images/section.png);
    background-size: 100% 100%;
    padding: 110px 0 69px;
    width: 100%;
}

section#aboutme .block {
    float: right;
    margin-bottom: 30px
}

section#aboutme .block .inner {
    background: #fff;
    padding: 15px;
}

section#aboutme .block:nth-child(2) > .inner,
section#aboutme .block:nth-child(3) > .inner {
    padding: 15px 40px
}

section#aboutme .block h2,
footer h2 {
    text-align: right;
    position: relative;
    display: table;
    border-bottom: 1px solid #e3e3e3;
    font: 700 16px droid;
    padding-bottom: 8px;
    color: #585858
}

section#aboutme .block h2:after,
footer h2:after {
    width: 25%;
    height: 4px;
    background: #ff8000;
    content: "";
    position: absolute;
    bottom: -2px;
    transition: all .4s ease;
    right: 0;
}

section#aboutme .block3 h2:after {
    background: #8dd831 !important;
    width: 35%;
}

section#aboutme .block h2:hover:after,
footer h2:hover:after {
    width: 60%;
}

section#aboutme .block p {
    color: #6e6e6e;
    font-size: 12px;
    line-height: 2.33;
    padding-top: 15px;
}

section#aboutme .block .more {
    color: #6e6e6e;
    font: 600 12px droid;
}

section#aboutme .block .more:after {
    content: "\f104";
    font-size: 10px;
    padding-right: 5px;
    font-family: 'FontAwesome';
}

.police {
    float: right;
    margin-bottom: 30px
}

#googleMap {
    width: 100%;
    height: 455px;
}

.contact-form input[type="text"] {
    width: 45%;
    float: right;
    margin-bottom: 30px !important;
    border: 0;
    padding: 8px
}

.contact-form input[type="text"]:nth-child(2) {
    float: left;
}

.contact-form textarea {
    height: 325px;
    border: 0;
    resize: none;
    padding: 15px
}

.contact-form button {
    background: #97db44;
    color: #fff;
    border: 0;
    padding: 10px 35px !important;
}
/* footer
-------------------------------------------------------------- */

footer {
    background: #fff;
    padding: 60px 0;
    border-bottom: 1px solid #ededed
}

footer .block {
    float: right
}

footer h2:after {
    background: #8dd831 !important
}

footer h2 {
    color: #6b6b6b;
    margin-bottom: 30px;
    padding-bottom: 25px
}

footer ul li {
    float: right;
    width: 48%;
    margin-bottom: 15px;
}

footer ul li a {
    color: #848484
}

footer ul li a:before {
    content: "\f104";
    font-size: 12px;
    padding-left: 5px;
    font-family: 'FontAwesome';
}

footer p {
    color: #7e7e7e
}

footer input[type="text"] {
    border: 1px solid #e6e6e6;
    padding: 3px 5px;
    border-radius: 5px;
    color: #cdcdcd;
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

footer input[type="submit"] {
    color: #fff;
    float: left;
    background: #fab515;
    text-align: center;
    padding: 4px 12px;
    border: 0;
    border-radius: 4px;
    font-size: 11px
}

footer a:hover {
    color: #666
}

#footer {
    padding: 20px 0;
    background: #fff;
    color: #656565;
    font-size: 12px
}

#footer a {
    color: #8dd831
}

#elryad {
    float: left
}

footer #contact li {
    width: 100% !important;
    color: #8c8c8c;
    font-size: 11px;
    margin-bottom: 20px;
    direction: ltr;
}

footer #contact li i {
    color: #fab515;
    float: right;
    padding-left: 5px;
    font-size: 15px
}

/* table
-------------------------------------------------------------- */
table.table {background: #fff;margin:30px 0}
table.table td{ border-top: 0;text-align: center;color:#8b8b8b;}
table.table .main{background: #4b4b4b;color:#fff !important}
table .main td{color:#fff !important;}
table img {height: 190px !important;border-radius: 8px;width:100% ;max-width:300px }
table a{color:#8dd831;}
table button{color:#fff;background:#8dd831;border:0;}
table  td{padding-top:15px  !important;padding-bottom:15px  !important;border-top:1px solid #f7f7f7 !important;border-left:1px solid #f7f7f7 }
table p{color:#a9a9a9;font-size:11px;padding:35px 0;line-height: 2.2}
/* Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
.sections .fa-angle-down{display:block !important;}
.menu ul li {width:100%}
.menu ul{display:none}
.menu ul li:hover {  transform:none !important}
    #logo {
        margin: 0 auto;
        float: none;
    }
    #owl-demo2 .owl-next,
    #owl-demo2 .owl-prev,
    #owl-demo .owl-next,
    #owl-demo .owl-prev {
        display: none;
    }
    header .support,
    header .cart {
        max-width: 100%;
        margin: 10px 0;
    }
}



#owl-demo4 .owl-prev{left:5px;}
#owl-demo4 .owl-next{right:5px;}
#owl-demo4 .owl-buttons{top:30px;position: absolute;width:100% }
.works-title {
    text-align: center;
    margin: 30px 0;
    color: #8dd831;

    padding-bottom: 30px;
}

.nav-edit-profile {
    list-style-type: none;
    text-align: center;
    margin-bottom: 40px;
}

.nav-edit-profile li {
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 25px;
}

.nav-edit-profile li a {
}

.nav-edit-profile li:hover, .active-edit-profile {
    background: #fff;
}
.edit-profile .radio-inline {
    margin-right: 20px !important;
}
.make-ads-box {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
}

.form-price {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.register-form {
    min-height: 100px;
}

.register-form, .login-form {
    margin: 30px 0;
    padding: 0 30px;
}

.register-form h3, .login-form h3 {
    margin-bottom: 30px;
    color: #8dd831;
}

.free {
    color: #8dd831;
}

.register-form form label, .login-form form label {
    font-weight: normal;
}

.register-form form .btn-success {
    margin-top: 20px;
}

.mystar i{float:right;color:#EFB80F;margin:0 2px;}
.mystar{display:table;margin:0 auto}
table .btn-succes,table .btn-danger{padding:10px 20px}

.modal-body img{width:100%;height:60px;margin-bottom:30px}
.Payment{float:right;padding-bottom:15px}
.total{float:left;padding-bottom:15px;text-align:left;}
#mytotalcash{float:left;padding:0 5px;}

.modal-body form ,.modal-body form button{width:100%}

img.zoomImg {
    width: 135% !important;
    height: 135% !important;
}



.modal-header .close{float:left}
#cartpayments{display: none}
.editinfo{display: none}
#holdereffect {
    position: relative;
}

.loader .fa-spinner {
    top: 10%;
}

.loader {
    z-index: 99999999999999999999999999;
    height: 100%;
}