	.message_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: #000000;
	opacity: .3;
	filter: alpha(opacity=15);
	-moz-opacity: .15;
	z-index: 5000;
}

.dialog_header {
	position: fixed;
	width: 380px;
	height:auto;
	display:table;
	top: 40%;
	left: 50%;
	margin-left: -190px;
	margin-top: -100px;
	background-color: #ffffff;
	padding: 0px;
	z-index: 9999999999999999999999;

	font-size:18px;
}
.dialog_title {
	/*background-image: url(../images/navbar-bg.png);*/
	background:#8DD831;
        
	padding: 10px;
	color: #FFFFFF;
	font-weight: bold;
	z-index: 9999999999999999999999;
        position: relative;
}
.dialog_title a {
	color: #FFFFFF;
	text-decoration: none;
}
#table_body{
	text-align:right;
	padding:30px;
	color:#A02424;
	font-size:16px;
	z-index: 5000;
}
.align_right {
	text-align: left;
	
}
/*table #table_body a {
	color: #000000;
}*/